<div class="profile">
  <%= render '/welcome/profile_menu' %>
  <h2>Редактировать профиль</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label 'Имя' %>
      <%= f.email_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label 'Телефон' %>
      <%= f.email_field :phone, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label 'Адрес' %>
      <%= f.email_field :address, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label 'E-mail' %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Ожидается подтверждение E-mail: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <label>
        Пароль
      </label>
      <%= f.password_field :password, autocomplete: 'off', placeholder: 'Оставьте пустым, если не хотите менять' %>
    </div>

    <div class="field">
      <%= f.label 'Повторите пароль' %>
      <%= f.password_field :password_confirmation, autocomplete: 'off' %>
    </div>

    <div class="field">
      <label>
        Текущий пароль
      </label>
      <%= f.password_field :current_password, autocomplete: 'off', placeholder: 'необходим для подтверждения изменений' %>
    </div>

    <div class="actions">
      <%= f.submit 'Обновить', class: 'red_button' %>
    </div>
  <% end %>
</div>
