= semantic_form_for [:admin, @delivery_page]  do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs 'Delivery page attributes' do
    = f.input :title
    = f.input :water_line
  = f.inputs 'Content' do
    = f.input :content, as: :ckeditor, label: false

  = f.inputs 'SEO' do
    = f.input :seo_title, label: 'SEO Title'
    = f.input :seo_description, label: 'SEO Description'
    = f.input :seo_keywords, label: 'SEO Keywords'
  = f.actions
