.post
  .post_image
    = image_tag post.image_url(:background)
    .post_text.js_to_hint{style: "color:#{post.text_color}", class: text_align_for_post(post)}
      .post_text__header
        = post.title.html_safe
      .post_text__body
        = post.body.html_safe
      - if post.hint.present? && post.button_name.present?
        %a.post_text__button.js_to_show_hint
          = post.button_name
        .hint.js_hint.hidden_block
          = post.hint.html_safe
      - if post.link_url.present? && post.link_name.present?
        %br
        %a.post_text__link{ href: post.link_url }
          = "#{post.link_name} >"
