- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область. Доставка'
- meta_description 'Адреса доставок. Карта'
- meta_keywords 'пункты доставок, доставка, адрес, карты доставки'
= javascript_include_tag 'http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'
= include_gon
.delivery-body
  .delivery-body-title
    Доставка
  #delivery-body-map
  .delivery-body-text
    .delivery-body-text-delivery
      .delivery-body-text-delivery-spb
        %span Доставка в Санкт-Петербург
        %br
        В понедельник, среду, четверг с 8 до 22
        %br
        Во вторник, пятницу и субботу — с 8 до 18 часов
        %br
        Воскресенье — выходной
      .delivery-body-text-delivery-district
        %span Доставка в пригороды
        %br
        Выберите свой город, чтобы узнать по каким дня происходит доставка
    .delivery-body-text-delivery-info
      .delivery-body-text-delivery-info-text
        %big Вы можете оформить заказ по телефону
        %br
        %span (812) 335-40-80
        %br
        %body
          В будние дни с 8 до 20
          %br В субботу с 8 до 14 часов
          Воскресенье — выходной
    = form_tag delivery_path, remote: true, method: :get do
      = text_field_tag :name, nil, class: 'delivery-body-text-search', placeholder: 'Введите название'
    .delivery-body-text-list
      = render partial: 'list_district', locals: {district: @district}


#dialog
  .dialog-text
  .close-modal
    = image_tag 'close_modal.png'
  #tail1
  #tail2

:javascript
  $('.delivery-body-text-search').bind('keyup', function() {
    $('form').delay(200).submit();
  });
  $('.close-modal > img').click(function(){
    $('#dialog').hide();
  });
  $('.delivery-body-text-list > a').click(function(e) {
      e.preventDefault();
      $('#dialog').show();
      //console.log($(this).children('.popup').text());
      $('.dialog-text').html($(this).attr('popup'));
      $('#dialog').css('left', $(this).position().left + $(this).width() + 10);
      $('#dialog').css('top', $(this).position().top - 7);
  });

  ymaps.ready(init);
  function init() {
      var myMap = new ymaps.Map('delivery-body-map', {
        center: [59.980488, 30.02889],
        zoom: 7.7
      });
    $.each(gon.district, function(index, value) {
      myMap.geoObjects.add(new ymaps.Placemark([value.lat, value.lon], {
        hintContent: ''
      }, {
        // Опции.
        // Необходимо указать данный тип макета.
        iconLayout: 'default#image',
        // Своё изображение иконки метки.
        iconImageHref: '/assets/office.png',
        // Размеры метки.
        iconImageSize: [30, 42],
        // Смещение левого верхнего угла иконки относительно
        // её "ножки" (точки привязки).
        iconImageOffset: [-3, -42]
      }));
    });
    myMap.controls.add("zoomControl");
  }
