- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область.'
- meta_description 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область.'
- meta_keywords 'доставка воды, заказ воды, стаканчики, мешалки, помпы, купить'
= render 'layouts/fixed_header'
= include_gon

.main_page
  .water__block
    .water__block__main_image
      =image_tag image_url('back_with_bottle.jpg')
      .water__block__main_image__text
        .main_image__text
          .main_image__text__header
            Прима Аква
          .main_image__text__title
            Природная вода из Карельского перешейка
          .main_image__text__text
            В экологически чистом районе Карельского перешейка 
            находится артезианская скважина №156, дающая 
            чистую природную воду гдовского водоносного 
            горизонта, которую уже через несколько часов 
            привезут в школы, дома и в офисы Северной столицы.
          %a.main_page__button{ href: '/aquas/1' }
            Чем же так хороша Прима Аква
      .infogr
        .infogr_price
          225
          %span
            Р
        .infogr_line
        .infogr_volume
          .infogr_volume_count
            %span 19
            литров
      .infogr_base.infogr_19
        = image_tag image_url('19.png')
      .infogr_base.infogr_8
        = image_tag image_url('8.png')
      .infogr_base.infogr_6
        = image_tag image_url('6.png')
      .infogr_base.infogr_1
        = image_tag image_url('1.png')
    .little_images
      .water__block__arhyz_image.block_to_inline
        %a{ href: '/aquas/3' }
          =image_tag image_url('arhyz.jpg')
          .little_images__text
            .little_images__text__title
              Архыз
            .little_images__text__body
              Добывается из горных ледников на высоте 1507 метров над уровнем моря
      .water__block__legend_image.block_to_inline
        %a{ href: '/aquas/2' }
          =image_tag image_url('legend.jpg')
          .little_images__text
            .little_images__text__title
              Легенда Гор
            .little_images__text__body
              Стимулирует природный механизм самовосстановления организма
      .water__block__yodis_image.block_to_inline
        %a{ href: '/aquas/4' }
          =image_tag image_url('yodis.jpg')
          .little_images__text
            .little_images__text__title
              Йодис
            .little_images__text__body
              Укрепляет иммунитет и помогает энергично осваивать новые знания
      %span.stretch

  .about_company__block
    .about_company__block_image
      =image_tag image_url('about.jpg')
      .about_company__text
        .about_company__text__header
          О компании
        .about_company__text__quote
          В общем, это как с благородным вином — чем тоньше напиток, тем сложнее его сделать
        .about_company__text__quote_author
          Василий Жуков, главный технолог
        .about_company__text__text
          Группа компаний "Мир Воды" с 2002 года занимается обеспечением 
          населения Санкт-Петербурга чистой питьевой водой, доставляя в 
          офисы и квартиры бутилированную воду
          %br
          %br
          На сегодня мы имеем современное производство по розливу воды, 
          расположенное в удаленном от городской черты экологически чистом 
          районе Карельского перешейка. Размещение производства 
          непосредственно у скважины соответствует международным 
          требованиям Всемирной Организации Здравоохранения, 
          запрещающим транспортировку воды к месту бутилирования.
          %br
          %br
          В нашем ассортименте есть вода собственного производства - питьевая
          артезианская вода «Прима Аква» объемом 19л, 8л, 6л, 0.6 л, а также
          кондиционированная вода «Йодис» в 19л. бутылях. По мимо воды
          собственного производства, мы представляем известные по всей России
          бренды минеральной воды: Легенда гор и Архыз.
        %a.main_page__button{ href: '/about' }
          Как мы работаем

  .equipment__block
    .equipment__block_image
      =image_tag image_url('equipment.jpg')
      .equipment__block__text
        .equipment__block__text__header
          Оборудование
        .equipment__block__text__text
          Процесс розлива организован таким образом, что до потребителя
          доходит вода, изначальный природный состав которой полностью сохранен.
          %br
          %br
          Предоставляемое нашей фирмой оборудование производится лучшими
          отечественными и зарубежными компаниями и позволяет насладиться
          вкусом и пользой настоящей природной воды. Вы можете подобрать
          лучшее оборудование, соответствующее Вашим вкусам и пожеланиям.
        %a.main_page__button{ href: '/coolers' }
          Каталог оборудования

  .delivery__block
    .delivery__block_map
      =image_tag image_url('map.jpg')
      .delivery__block_map__text
        .delivery__block_map__text__header
          Доставка
        .delivery__block_map__text__text
          Доставка питьевой воды в офис и на дом по
          Санкт-Петербургу осуществляется с
          понедельника по субботу в удобное для Вас
          время, доставка питьевой воды в пригороды
          Санкт-Петербурга по графику.
          %br
          Доставка питьевой воды в офис и на дом
          оформляется по телефону (812) 335-40-80
          или через наш сайт онлайн.
          %br
          Вы можете самостоятельно оставить заказ воды
          на дом и в офис и наш менеджер перезвонит Вам.
          Для удобства розлива воды из 19л, 8л, 6л бутылей
          мы предлагаем широкий выбор оборудования
          (см. кулеры и помпы).
        %a.main_page__button{ href: '/delivery' }
          Подробнее о доставке

:javascript
  $(document).ready(function(){
    function custom_hover(elem, px){
      $(elem).hover(
        function () {
          $(this).children('img').css('right', px);
          $('.infogr').css('display', 'block');
          $('.infogr_volume > div > span').html(elem.split('_')[1]);
          if (elem.split('_')[1] == '1'){
            $('.infogr_volume_count').html('<span>0,6</span> литра');
          }
          var price = ''
          if (elem.split('_')[1] == '19'){
            price = gon.price_19
          } else if (elem.split('_')[1] == '8'){
            price = gon.price_8
          } else if (elem.split('_')[1] == '6'){
            price = gon.price_6
          } else if (elem.split('_')[1] == '1'){
            price = gon.price_1
          }
          $('.infogr_price').html(price+'<span>Р</span>');
        },
        function () {
            $(this).children('img').css('right', '0');
            $('.infogr').css('display', 'none');
        }
      )
    }
    custom_hover('.infogr_19', '37px');
    custom_hover('.infogr_8', '37px');
    custom_hover('.infogr_6', '37px');
    custom_hover('.infogr_1', '34px');
  })
