.coolers-list-item{ class: ('for_padding' if index % 3 != 0 || index == 0)}
  .coolers-list-item-img
    = image_tag cooler.image.url(:for_index)
    - if cooler.has_tag?('Выгодно')
      .coolers-list-item-img-tag
        Выгодно
  .coolers-list-item-title
    = cooler.title
  .coolers-list-item-options
    .coolers-list-item-options-tag
      = cooler.tags.first.name
    .coolers-list-item-options-item
      = cooler.type_cooling
  .coolers-list-item-price_button
    .coolers-list-item-price
      .coolers-list-item-price-count
        = cooler.price
        %span Р
    .coolers-list-item-button-wrapper.hidden
      = link_to 'Купить', '#', class: 'coolers-list-item-button'
