.coolers-list-item{ class: ('for_padding' if index % 3 != 0 || index == 0)}
  .coolers-list-item-img
    = link_to cooler_path(cooler) do
      = image_tag cooler.images.first.name_url(:for_index)
    - if cooler.has_tag?('Выгодно')
      .coolers-list-item-img-tag
        Выгодно
  .coolers-list-item-title
    = link_to cooler.title, cooler_path(cooler)
  .coolers-list-item-options
    .coolers-list-item-options-tag
      = link_to cooler.tags.first.name, coolers_path(tag: cooler.tags.first.name)
    .coolers-list-item-options-item
      = link_to cooler.type_cooling, coolers_path(type_cooling: cooler.type_cooling)
  .coolers-list-item-price_button
    .coolers-list-item-price
      .coolers-list-item-price-count
        = cooler.price
        %span Р
    .coolers-list-item-button-wrapper
      = link_to 'Купить', '#', class: 'coolers-list-item-button'
