.coolers
  = render partial: 'partials/links_for_indexes'
  .coolers-line
  .coolers-filters
    .coolers-filters-left
      .coolers-filters-left-item{class: ('active' if link_active?)}
        = link_to 'Все', coolers_path
      .coolers-filters-left-item{class: ('active' if link_active?('напольные'))}
        = link_to 'Напольные', coolers_path(type_construction: 'напольные')
      .coolers-filters-left-item{class: ('active' if link_active?('настольные'))}
        = link_to 'Настольные', coolers_path(type_construction: 'настольные')
    .coolers-filters-right
      = link_to 'Сортировать по цене', coolers_path(order: 'price')
  .coolers-list
    - @coolers.each_with_index do |cooler, index|
      - if index == 0
        .coolers-list-item-zero
          .coolers-list-item-zero-title
            .coolers-list-item-zero-title-text
              Для чего вам нужен кулер?
            .coolers-list-item-zero-title-img
              = image_tag 'icon_question.png'
          .coolers-list-item-zero-list
            - @tags.each do |tag|
              .coolers-list-item-zero-list-item
                .coolers-list-item-zero-list-item-text
                  = link_to tag.name, coolers_path(tag: tag.name)
                  %span (#{tag.coolers.count})
      - elsif index == 5
        .coolers-list-item-service.for_padding
          .coolers-list-item-service-img
            = image_tag 'service_icon.png'
          .coolers-list-item-service-title
            Обслуживание
          .coolers-list-item-service-text
            Если вода в вашем кулере имеет неприятный запах — его стоит почистить
          .coolers-list-item-service-link-wrapper
            = link_to 'Подробнее', service_path, class: 'coolers-list-item-service-link'
      = render 'coolers/item', cooler: cooler, index: index
