= include_gon
= semantic_form_for [:admin, @cooler]  do |f|
  = f.semantic_errors *f.object.errors.keys
  -[:title, :description, :price, :type_construction, :type_cooling, :heat, :power_heat, :cooling,
  :power_cooling, :dimensions, :service, :seo_title, :seo_description, :seo_keywords].each do |attr|
    = f.inputs attr.to_s.capitalize! do
      = f.input attr, label: false
  //= f.inputs 'Image' do
  //  = f.file_field :image, label: false
  //  %br
  //  = render 'partials/image', item: @cooler

  = f.inputs 'Images' do
    = f.fields_for :image do |image|
      = image.file_field :name, multiple: :true, name: 'image[name][]'
    %br
    = render 'partials/images', item: @cooler



  = f.inputs 'Tags' do
    = f.select :tags, Tag.all.collect{|t| [t.name, t.id]}, {promt: true}, {id: 'tags', style: 'width:300px', multiple: true}

  = f.actions

:javascript
  $("select#tags").select2().select2('val', gon.tags );
