.aqua_volume_block
  .aqua__image
    = image_tag volume.image_url(:small)

  .aqua__info
    .aqua__info_title
      = volume.aqua.name
      = volume.value
    .aqua__info_text
      =volume.aqua.short_description
    .aqua__info_order
      %a.red_button.js_order_button{href: '#'} Заказ

  .aqua__prices
    %table
      %tr
        %th
          Количество
        %th
          Цена
      - volume.prices.order(:start_count).each do |price|
        %tr
          %td
            = price_amount(price)
          %td
            = price_val(price).html_safe

  .clearfix
