= semantic_form_for [:admin, @company_post]  do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs 'Title' do
    = f.input :title, label: false
  = f.inputs 'Description' do
    = f.input :description, label: false
  = f.inputs 'Image' do
    = f.file_field :image, label: false
    %br
    = render 'partials/image', item: @company_post

  = f.inputs 'SEO' do
    = f.input :seo_title, label: 'SEO Title'
    = f.input :seo_description, label: 'SEO Description'
    = f.input :seo_keywords, label: 'SEO Keywords'
  = f.actions
