.footer
  .footer__adv
    %a{ href: 'http://td-voda.ru/market/korma_dlya_zhivotnyh/' }
      = image_tag image_url('bone.png')
      %span
        Попробуйте наш сервис доставки кормов для животных
  .footer__main
    .footer__main__links
      .links_column
        - @all_aquas.each do |aqua|
          = link_to aqua.name, aqua
      .links_column
        = link_to 'Кулеры и помпы', coolers_path
        = link_to 'Сопутствующие товары', cups_products_path
        = link_to 'Обслуживание', service_path
        -#= link_to 'Вопросы и ответы', '#'
      .links_column
        -@all_delivery_pages.each do |page|
          = link_to page.title, page
      .links_column
        = link_to 'О компании', about_path
        = link_to 'Контакты', '/contacts'
        -#= link_to 'Партнеры', '#'
        -#= link_to 'Сотрудничество', '#'
    .footer__main__info
      .info_column
        = image_tag image_url('car.jpg')
        .info_column__content.lft_mrgn
          %span.bold_footer_info
            Доставка воды:
          %span
            Пн, Ср, Чт с 08 до 17 и с 18 до 22
          %span
            Вт, Пт, Сб с 08 до 17
      .info_column
        = image_tag image_url('phone.jpg')
        .info_column__content
          %span.bold_footer_info
            Заказы принимаются:
          %span
            С понедельника по пятницу
          %span
            с 8 до 22 часов
          %span
            В субботу с 8 до 15:00
      .info_column__right
        .contacts
          = link_to '#' do
            - image_tag image_url('vk.png')
          = link_to '#' do
            - image_tag image_url('ok.png')
          = link_to '#' do
            - image_tag image_url('fb.png')
          = link_to '#' do
            - image_tag image_url('in.png')
          %span.contacts__phone
            (812) 335-40-80

        .copyright
          %span
            &copy; ООО "Лидер-Аква" 2003 -
            #{Time.zone.now.year}
