.footer
  .footer__adv
    %a{ href: 'http://ya.ru' }
      = image_tag image_url('bone.png')
      %span
        Попробуйте наш сервис доставки кормов для животных
  .footer__main
    .footer__main__links
      .links_column
        - @aquas.each do |aqua|
          = link_to aqua.name, aqua
      .links_column
        = link_to 'Кулеры и помпы', '#'
        = link_to 'Сопутствующие товары', '#'
        = link_to 'Обслуживание', '#'
        = link_to 'Вопросы и ответы', '#'
      .links_column
        -@delivery_pages.each do |page|
          = link_to page.title, page
      .links_column
        = link_to 'О компании', about_path
        = link_to 'Контакты', '#'
        = link_to 'Партнеры', '#'
        = link_to 'Сотрудничество', '#'
    .footer__main__info
      .info_column
        = image_tag image_url('car.jpg')
        .info_column__content.lft_mrgn
          %span.bold_footer_info
            Доставка воды:
          %span
            Сегодня с 17 до 22
          %span
            Завтра с 9 до 17 или с 17 до 22
      .info_column
        = image_tag image_url('phone.jpg')
        .info_column__content
          %span.bold_footer_info
            Заказы принимаются:
          %span
            С понедельника по субботу
          %span
            с 9 до 22 часов
      .info_column__right
        .contacts
          = link_to '#' do
            - image_tag image_url('vk.png')
          = link_to '#' do
            - image_tag image_url('ok.png')
          = link_to '#' do
            - image_tag image_url('fb.png')
          = link_to '#' do
            - image_tag image_url('in.png')
          %span.contacts__phone
            (812) 335-40-80

        .copyright
          %span
            &copy; #{Time.zone.now.year} Мир воды
