.header
  .header__top_line
    .header__top_line__menu
      = link_to 'События', '#'
      = link_to 'Оплата', '#'
      = link_to 'Доставка', '#'
      = link_to 'Контакты', '#'
      = link_to 'Вход', '#'
  .header__main_line
    .header__main_line__menu
