.header.main_header
  .header__contacts
    = link_to '#' do
      = image_tag 'contacts.png'
  .header__top_line
    .header__top_line__menu
      = link_to 'События', '#'
      = link_to 'Оплата', '#'
      = link_to 'Доставка', '#'
      = link_to 'Контакты', '#'
      = link_to 'Вход', '#'
  .header__main_line
    .header__main_line__menu
      %ul#menu
        %li
          %a.with_underline{href: '#'} О воде
          %ul
            %li
              %a.with_underline{href: '#'} Подраздел1
            %li
              %a.with_underline{href: '#'} Подраздел2
            %li
              %a.with_underline{href: '#'} Подраздел3
        %li
          %a.with_underline{href: '#'} Кулеры и помпы
        %li
          %a.with_underline{href: '#'} Сопутствующие товары
        %li
          %a.with_underline{href: '#'} Цены
        %li
          %a.red_button{href: '#'} Заказ
.header__actions
  .action__line

