.header.main_header
  .header__logo
    %a{ href: '/' }
      = image_tag image_url('logo.png')
  .header__contacts
    %a
      = image_tag 'contacts.png'
  .header__top_line
    .header__top_line__menu
      = link_to 'О компании', '/about'
      = link_to 'События', '/events'
      = link_to 'Контакты', '/contacts'
      = link_to 'Оплата', payment_path
      = link_to 'Доставка', '/delivery'
      - if current_user
        = link_to 'Профиль', '/profile'
        = link_to 'Выход', destroy_user_session_path, method: :delete
      - else
        = link_to 'Вход', '#', class: 'js_sign_in'
  .header__main_line
    .header__main_line__menu
      %ul#menu
        %li
          %a.with_underline О воде
          %ul
            - @all_aquas.each do |aqua|
              %li
                = link_to aqua.name, aqua, class: 'with_underline'
        %li
          %a.with_underline{href: coolers_path} Кулеры и помпы
        %li
          %a.with_underline{href: cups_products_path} Сопутствующие товары
        %li
          %a.with_underline{href: prices_path} Цены
        %li
          %a.red_button.js_order_button{href: '#'} Заказать
.header__actions
  .carousel
    - @actions.each do |action|
      .action__line
        %span.action_label
          АКЦИЯ
        =link_to action.title, '/events?type=promotion'



:javascript
  $(function() {
    $(window).on('scroll', function() {
      if ($('body').scrollTop() > 100){
        $('.fixed_header').fadeIn();
      }
      else{
        $('.fixed_header').fadeOut();
      }
    });
  });
