.water_template
  .aqua_select.js_aqua_select
    = select_tag( :auqa,                                                                               |
                  options_for_select(@all_aquas.map{ |aqua| [aqua.name, "#{aqua.id}-#{aqua.name}"] }), |
                  { class: 'js-aqua-select-tag'})
  .volume_select.js_volume_select
    = select_tag( :volume,                                                                                 |
                  options_for_select(@all_aquas.first.volumes.map{ |v| [v.value, "#{v.id}-#{v.value }"]}), |
                  {class: 'js-volume-select-tag'})
  .amount.js_amount
    %button.js_decrement
      = '-'
    %input{ value: 2, disabled: true, class: 'js_amount_input' }
    %button.js_increment
      +
  .price.js_price
    %span.js_price_value= @aqua_price
    %span.js_currency{ class: ('hidden_block' if @aqua_price.to_i == 0)}
      ла.
  .remove_button.js_remove_position
    x
  .clearfix
