.order_form
  .order__customer

    .order__signin_button
      - unless current_user
        %a.blue_button.js_order_signin Войти

    .order__customer_type_selector
      .custome_selector.js_customer_type_selector{ data: { val: (current_user.try(:customer_type) || :individual) }}
        .variant.first_variant.js_variant{ data: { val: :individual }, class: ('active' unless current_user.try(:company?)) }
          Я частное лицо
        .variant.second_variant.js_variant{ data: { val: :company }, class: ('active' if current_user.try(:company?)) }
          Компания

    .order__customer_form.js_individual{ class: ('hidden_block' if current_user.try(:company?)) }
      .order_input.name.js_name
        %label
          ФИО
          %br
          %span.hint или № договора
        = text_field_tag :name, (current_user.try(:name) if current_user.try(:individual?))
        .clearfix
      .order_input.phone.js_phone
        %label Телефон
        = phone_field_tag :phone, (current_user.try(:phone) if current_user.try(:individual?))
        .clearfix
      .order_input.address.js_address
        %label Адрес
        = text_field_tag :address, (current_user.try(:address) if current_user.try(:individual?))
        .clearfix
    .order__customer_form.js_company{ class: ('hidden_block' unless current_user.try(:company?)) }
      .order_input.name.js_name
        %label
          Название компании
          %br
          %span.hint или № договора
        = text_field_tag :name, (current_user.try(:name) if current_user.try(:company?))
        .clearfix
      .order_input.phone.js_phone
        %label Телефон
        = phone_field_tag :phone, (current_user.try(:phone) if current_user.try(:company?))
        .clearfix
      .order_input.address.js_address
        %label Адрес
        = text_field_tag :address, (current_user.try(:address) if current_user.try(:company?))
        .clearfix
  - unless current_user
    .order__register_form
      .order_input.register_flag
        = check_box_tag 'test', nil, false, class: 'js_order_register_flag'
        %label Зарегистрироваться и больше не вводить контакты
      .js_order__register_form.hidden_block
        .order_input.email.js_phone
          %label
            E-mail
          = email_field_tag :email
          .clearfix
        .order_input.password.js_address
          %label Пароль
          = password_field_tag :password
          .clearfix
      .clearfix

  .order__delivery_form
    .order_input.delivery_date
      %label Дата доставки
      %input.datepicker
        .clearfix
    .order_input.delivery_time
      %label Время
      .custome_selector.js_delivery_time_selector{ data: { val: :morning }}
        .variant.first_variant.active.disabled.js_morning{ data: { val: :morning }}
          с 9 до 17 часов
        .variant.second_variant.disabled.js_evening{ data: { val: :evening }}
          с 17 до 22 часов
      .delivery_hint
        Доставка в день заказа только вечером
    .order_input.delivery_comment
      %label
        Дополнительная
        %br
        информация
      = text_area_tag(:comment, '', size: '26x5', class: 'js_comment')

  .order__buttons
    .back_button
      %a.with_blue_button.js_order_change_step Назад к заказу
    .submit_button
      %a.red_button.js_order_back Подтвердить
    .clearfix
