!!!
%html
  %head
    %title Prima-aqua
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .main_container
      = render 'layouts/header'

      = yield

      = render 'layouts/footer'


    .modal_area
      .modal__back.js_modal_back
      = render 'layouts/phone_modal'
