!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : content_for(:title){'Доставка воды - Prima-aqua'}
    %description= content_for?(:description) ? yield(:description) : content_for(:description){'Доставка воды - Prima-aqua. Санкт-Петербург и Ленинградская облать'}
    %keywords= content_for?(:keywords) ? yield(:keywords) : content_for(:keywords){'Доставка воды, Prima-aqua, заказать воду, купить, помпа, мешалка, стаканчик'}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{href: '//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '//cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: '//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js', type: 'text/javascript'}
  %body
    .main_container
      = render 'layouts/header'

      = yield

      = render 'layouts/footer'


    .modal_area
      .modal__back.js_modal_back
      .modal__view
        = render 'layouts/phone_modal'
        = render 'layouts/modal_notice'
        = render 'layouts/order_modal'
        - unless current_user
          = render 'devise/sessions/new'
          = render 'devise/registrations/new'
