!!!
%html
  %head
    %title Prima-aqua
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{href: '//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '//cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: '//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js', type: 'text/javascript'}
  %body
    .main_container
      = render 'layouts/header'

      = yield

      = render 'layouts/footer'


    .modal_area
      .modal__back.js_modal_back
      .modal__view
        = render 'layouts/phone_modal'
        = render 'layouts/modal_notice'
        = render 'layouts/order_modal'
